<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文件上传</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <h2>文件上传</h2>
    <form id="uploadForm">
        <div class="form-group">
            <label for="file">选择文件：</label>
            <input type="file" class="form-control-file" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">上传</button>
    </form>
</div>

<script>
    $("#uploadForm").on("submit", function (event) {
        event.preventDefault(); // 阻止表单默认提交行为

        var formData = new FormData(this); // 获取表单数据

        $.ajax({
            url: "/hdfs/uploadFile", // 后端接口地址
            type: "POST",
            data: formData,
            processData: false, // 告诉jQuery不要处理数据
            contentType: false, // 告诉jQuery不要设置Content-Type请求头
            success: function (response) {
                var result = JSON.parse(response).result;
                if (result === "success") {
                    alert("上传成功！"); // 显示上传成功提示信息
                } else {
                    alert("上传失败，请重试！"); // 显示上传失败提示信息
                }
            },
            error: function () {
                alert("上传失败，请重试！"); // 显示上传失败提示信息
            }
        });
    });
</script>
</body>
</html>